ion-icon {
    font-size: 1.5rem;
    color: #aaaaaa;
  }
  #botones{
      ion-button{
        margin-right: 2rem;
        margin-left: 2rem;
      }
  }
  .label-fixed{
    flex:initial;
    width: 12rem;
    max-width: 13rem;
}

ion-list{
    border-top:3px solid #b9e23a;
    border-left:3px solid #b9e23a;
    border-right:3px solid #b9e23a;
    ion-item{
      --padding-start: 0;
      border-bottom:3px solid #b9e23a;
      ion-input{
          border-left: #b9e23a 3px solid;
      }
      ion-label{
          padding-left: 1rem;
      }
    }
}

