<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()" color="dark" size="large" icon-only>
                <ion-icon size="large" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{budgetName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list>

        <ion-item lines="none">
            <ion-label text-center>HAVE/NEEDS TO PAY</ion-label>
        </ion-item>
        <ion-item *ngFor="let field of fields" lines="none">

            <ion-label position="fixed">{{havesConst[field]}} </ion-label>
            <ion-input [(ngModel)]="haves[field]" type="tel" text-right></ion-input>

        </ion-item>

    </ion-list>

    <ion-item lines="none" text-center>
        <ion-col>
            <ion-button color="verdeoscuro" fill="outline" (click)="guardar()">Save</ion-button>
        </ion-col>
    </ion-item>


</ion-content>