ion-icon {
    font-size: 40px;
    color: #000000;
  }
#bl{
  ion-label{
      font-size: 0.8rem !important;
      font-weight: bold;
  }
}
  #header{
      background-color: #00d497
  }
  #table{
      ion-col{
      border:1px solid #c2ed3d
    }
  }