ion-icon {
    font-size: 40px;/* no rem por diferencia de tamaños */
    color: #000000;
  }
ion-list{
    border: 3px solid #b9e23a;
}
ion-item{
    border-bottom: 3px solid #b9e23a;


}
#nolin{
    border-bottom:0;
}

ion-button{
    color: #050505;
}