<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>


<ion-content padding>
   <ion-grid>
    <ion-row>
      <ion-col text-center>
     <br>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col text-center>
      <img src="assets/imgs/logo.png" alt="PALM">
    </ion-col>
  </ion-row>
<ion-row>
    <ion-col text-center>
     <ion-label size="bold">your budget in the palm of your hand</ion-label>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col text-center>
    <img width="4" src="assets/imgs/glog.png" alt="">
  </ion-col>
</ion-row>

<ion-row><ion-col></ion-col>
  <ion-col size="7" text-center id="login">
      <ion-button routerLink="/login" color="verdeclaro" expand="block" fill="outline"><div style="color:#000000;">L o g i n</div></ion-button>
  </ion-col><ion-col></ion-col>
</ion-row>
  
   <ion-row><ion-col></ion-col>
    <ion-col size="7" text-center id="login">
        <ion-button routerLink="/registro" color="verdeoscuro" expand="block" fill="outline"><div style="color:#000000;">Sign Up</div></ion-button>
    </ion-col><ion-col></ion-col>
  </ion-row>
     </ion-grid>
          
</ion-content>
